[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
factom-sim = {editable = true,git = "git://github.com/stackdump/factom-sim.git",ref = "master"}
autopep8 = "*"

[packages]
factom-api = {editable = true,git = "git://github.com/FactomProject/factom-api.git",ref = "master"}
python-identitykeys = "*"
protobuf = "*"
grpcio = "*"
grpcio-tools = "*"
